    <app-main-nav>
                <div class="container-fluid">
                    <h1>แพ็กเกจ</h1>
                       <hr>
                       <div class="row text-center destination" style="margin-top: 20px;">
                        <div class="col-md-4">
                          <div class="card shadow-1 color border-0">
                            <div class="card-body">
                              <div class="media">
                                <div class="media-body">
                                  <h5 class="card-title text-white">แพ็กเกจปัจจุบัน</h5>
                                  <hr>
                                  <h6 class="card-subtitle mb-2 text-white">เหมารายเดือน</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    
                        <div class="col-md-4">
                          <div class="card shadow-1 color border-0">
                            <div class="card-body">
                              <div class="media">
                                <div class="media-body">
                                  <h5 class="card-title text-white">จำนวน 400 แผ่น</h5>
                                  <hr>
                                  <h6 class="card-subtitle mb-2 text-white">ใช้แล้ว : 300 คงเหลือ : 100</h6>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                        </div>
                    
                        <div class="col-md-4">
                          <div class="card shadow-1 color border-0">
                            <div class="card-body ">
                              <div class="media">
                                <div class="media-body">
                                  <h5 class="card-title text-white">เปิดใช้งาน : 1/10/2019</h5>
                                  <hr>
                                  <h6 class="card-subtitle mb-2 text-white">หมดอายุ : 1/11/2019</h6>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>

                    <div class="row" style="margin-top: 80px;">
                        <div class="col-md-12 text-center">
                            <h2 class="text-uppercase ftco-uppercase">คุณสามารถเลือกซื้อแพ็กเกจเพิ่มได้ตามโปรโมชั่นด้านล่างนี้</h2>
                          <div class="row justify-content-center mb-5">
                            <div class="col-md-7">
                              <!-- <p class="lead text-dark">
                                คุณสามารถเลือกซื้อเพ็กเกจเพิ่มได้ตามโปรโมชั่นด้สนล่างนี้
                              </p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                  <div class="container-fluid-1 "> 
                    <div class="row">
                        <div class="col-md bg-light p-5 m-2 text-center mb-2  destination">
                          <div class="ftco-pricing">
                            <h2>ประหยัด</h2>
                            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong>100</strong><span>/20แผ่น</span></p>
                            <ul class="list-unstyled mb-5">
                              <li>ไม่มีระยะเวลาหมดอายุ</li>
                              <li>ใช้งานได้จนกว่าจำนวนแผ่นโควต้าจะหมดลง</li>
                              <li>ซื้อครั้งถัดไปได้โควต้าเพิ่มพิเศษทันที 5 แผ่น</li>
                            </ul>
                            <p><a href="#" class="btn btn-secondary btn-sm">ซื้อ</a></p>
                          </div>
                        </div>
                        <div class="col-md bg-light p-5 m-2 text-center mb-2 destination">
                          <div class="ftco-pricing">
                            <h2>นักศึกษา</h2>
                            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong>200</strong><span>/50แผ่น</span></p>
                            <ul class="list-unstyled mb-5">
                              <li>ไม่มีระยะเวลาหมดอายุ</li>
                              <li>ใช้งานได้จนกว่าจำนวนแผ่นโควต้าจะหมดลง</li>
                              <li>ซื้อครั้งถัดไปได้โควต้าเพิ่มพิเศษทันที 10 แผ่น</li>
                            </ul>
                            <p><a href="#" class="btn btn-secondary btn-sm">ซื้อ</a></p>
                          </div>
                        </div>
                        <div class="w-100 clearfix d-xl-none"></div>
                        <div class="col-md bg-light  ftco-pricing-popular p-5 m-2 text-center mb-2 destination">
                          <span class="popular-text">Popular</span>
                          <div class="ftco-pricing">
                            <h2>เหมารายเดือน</h2>
                            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong class="text-primary">900</strong><span>/เดือน</span></p>
                            <ul class="list-unstyled mb-5">
                              <li>ใช้งานได้ไม่เกิน 400 หน้า ภายในระยะเวลา 30 วัน</li>
                              <li>นับจากวันที่ชำระเงิน</li>
                              <li>ซื้อเพิ่มครั้งถัดไปได้โควต้าเพิ่ม 20 หน้า</li>
                            </ul>
                            <p style="margin-top:75px;"><a href="#" class="btn btn-primary btn-sm">ซื้อ</a></p>
                          </div>
                        </div>
                        <div class="col-md bg-light p-5 m-2 text-center mb-2 destination">
                          <div class="ftco-pricing">
                            <h2>เหมารายปี</h2>
                            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong>5,900</strong><span>/ปี</span></p>
                            <ul class="list-unstyled mb-5">
                              <li>ใช้งานได้ไม่จำกัดจำนวนหน้า ภายในระยะเวลา 1 ปี</li>
                              <li>นับจากวันที่ชำระเงิน</li>
                              <li>ซื้อเพิ่มครั้งถัดไปลดทันที 10%</li>
                            </ul>
                            <p style="margin-top:75px;"><a href="#" class="btn btn-secondary btn-sm" >ซื้อ</a></p>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
</app-main-nav>