<!-- <app-sidebar></app-sidebar> -->
<app-main-nav>
    <div class="container-fluid">
        <h1>Home</h1>
        <hr>
        <div class="row text-center" style="margin-top: 40px;">
          <div class="col-md-4">
            <div class="card shadow-1 border-light">
              <div class="card-body">
                <h5 class="card-title">เลือกภาพที่ท่านต้องการแปลง</h5>
                <hr>
                <p class="card-text">คุณสามารถใช้งานได้อีก 100 แผ่น</p>
                <!-- <a href="#" class="btn btn-primary">อัปโหลดภาพ</a> -->
                <button mat-raised-button type="button" class="btn btn-primary">
                    <a class="text-black-50 pointer"(click)="image.click()"
                      >&nbsp;อัปโหลดภาพ</a
                    >
                  </button>
                  <input style="display : none" type="file"  accept="image/*" #image (change)="pictureChange(image)" /> 
              </div>
            </div>
          </div>
          <div class="col-md-8 ">
              <div class="card shadow-1 border-light">
                <div class="card-body">
                  <h5 class="card-title">รูปภาพ</h5>
                  <hr>
                  <a href="#" class="btn-lg" mat-raised-button color="warn"><i class="fas fa-file-medical-alt"></i> สแกน</a>
                </div>
              </div>
            </div>
        </div>  
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-4">
              <div class="card shadow-1 border-light">
                <div class="card-body">
                 <h5 class="card-title text-center">ไฟล์ Text</h5>
                 <hr>
                  <div class="row">
                    <div class="col-auto">
                    <p class="card-text"><img src="assets/html/images/txt.png" alt="" width="45px" height="45px" style="margin-top: -10px;"></p>
                    </div>
                    <div class="col-auto mr-auto">
                        <p class="card-text text-dark">test.text</p>
                        <p class="card-text text-muted text-date">14/08/19 9.40 AM</p>
                        </div>
                        <div class="col-auto ml-auto">
                        <p class="card-text text-muted text-size"> 1.0 MB</p>
                          </div>
                    <div class="col-auto ml-auto ">
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-h text-primary"></i>
                            </button>
                            <div class="dropdown-menu shadow-md border-0">
                              <a class="dropdown-item  c" href="#"><i class="far fa-eye"></i> Viwe</a>
                              <a class="dropdown-item  c" href="#"><i class="fas fa-download"></i> Download</a>
                              <!-- <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a> -->
                            </div>
                          </div>
                    </div>
                  </div>
        
                  <div class="row"style="margin-top: 15px;">
                      <div class="col-auto">
                      <p class="card-text"><img src="assets/html/images/txt.png" alt="" width="45px" height="45px" style="margin-top: -10px;"></p>
                      </div>
                      <div class="col-auto mr-auto">
                      <p class="card-text text-dark">test.text</p>
                      <p class="card-text text-muted text-date">14/08/19 9.40 AM</p>
                      </div>
                      <div class="col-auto ml-auto">
                      <p class="card-text text-muted text-size"> 1.0 MB</p>
                        </div>
                      <div class="col-auto ml-auto">
                          <div class="btn-group-sm">
                              <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-h text-primary"></i>
                              </button>
                              <div class="dropdown-menu shadow-md border-0">
                                <a class="dropdown-item  c" href="#"><i class="far fa-eye"></i> Viwe</a>
                                <a class="dropdown-item  c" href="#"><i class="fas fa-download"></i> Download</a>
                                <!-- <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a> -->
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="row"style="margin-top: 15px;">
                        <div class="col-auto">
                        <p class="card-text"><img src="assets/html/images/txt.png" alt="" width="45px" height="45px" style="margin-top: -10px;"></p>
                        </div>
                        <div class="col-auto mr-auto">
                            <p class="card-text text-dark">test.text</p>
                            <p class="card-text text-muted text-date">14/08/19 9.40 AM</p>
                            </div>
                            <div class="col-auto ml-auto">
                            <p class="card-text text-muted text-size"> 1.0 MB</p>
                              </div>
                        <div class="col-auto ml-auto">
                            <div class="btn-group-sm">
                                <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h text-primary"></i>
                                </button>
                                <div class="dropdown-menu shadow-md border-0">
                                  <a class="dropdown-item  c" href="#"><i class="far fa-eye"></i> Viwe</a>
                                  <a class="dropdown-item  c" href="#"><i class="fas fa-download"></i> Download</a>
                                  <!-- <a class="dropdown-item" href="#">Something else here</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Separated link</a> -->
                                </div>
                              </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div> 
        </div>   
        
    
</app-main-nav>
  <!-- <div class="container-fluid">
     <div class="row">
        <div class="col-3" style="display: none">
                <div class="list-group shadow-1" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">โปรไฟล์</a>
                  <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">เพ็กเกจ</a>
                  <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">ตั้งค่า</a>
                </div>
              </div>
        
              <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <app-home></app-home>
                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <app-proflie></app-proflie>  
                  </div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <app-package></app-package>
                  </div>
                  <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <app-setting></app-setting>
                  </div>
                </div>
              </div>
        </div>
     </div>    -->

   
