.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-2{
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.dropdown-item{
  font-size: 12px;
}
.dropdown-item:hover{
  background-color: rgb(36, 123, 253);

}  
.c:hover{
  color: white;
}
.text-date{
font-size: 3px;
margin-top: -20px;
}
.text-size{
font-size: 10px;
margin-top: 25px;
}

.edit:hover{
color: rgb(0, 0, 0);
}
.btn-link{
color: rgb(151, 151, 151);
}
.btn-link:hover{
  color: rgb(56, 56, 255);
}
.pointer {cursor: pointer;}
/*----shadow-----*/
.shadow{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}	
.shadow-md{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}	
.shadow-lg{
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-xl{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}	
.shadow-2xl{
 box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}	
.shadow-inner{
 box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}	
.shadow-outline{
 box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}	