<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer  
      class="sidenav" 
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async)? 'over' : 'side'"
      [opened]="(isHandset$ | async)? 'false' : 'true'">
    <mat-toolbar>
        <div class="container">
      <div class="row justify-content-md-center">
      <img src="assets/html/images/thaiocr-logo-1.png" alt="" width="55px" height="55px">
    </div>
    </div>
  </mat-toolbar>
    <mat-nav-list class="text-white">
      <!-- <a class="text-white nav-link" mat-list-item routerLink="/member" routerLinkActive="active">
        <mat-icon>home</mat-icon> &nbsp;&nbsp;Home</a>
      <a class="text-white nav-link" mat-list-item routerLink="/profile" routerLinkActive="active">
        <i class="material-icons">
          account_circle
        </i>&nbsp;&nbsp;โปรไฟล์</a>
      <a class="text-white nav-link" mat-list-item routerLink="/package" routerLinkActive="active">
        <i class="material-icons">
          add_shopping_cart
          </i>&nbsp;&nbsp;แพ็กเกจ</a> -->
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a  class="nav-link" routerLink="/member" routerLinkActive="active">
              <i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;Home</a>
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">
              <i class="fas fa-user-circle"></i>&nbsp;&nbsp;&nbsp;โปรไฟล์</a>
          <a class="nav-link" routerLink="/package" routerLinkActive="active">
              <i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp;แพ็กเกจ</a>
          <a class="nav-link" routerLink="#" routerLinkActive="active">
              <i class="fas fa-cog"></i>&nbsp;&nbsp;&nbsp;ตั้งค่า</a>
        </div>
    </mat-nav-list>
  </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="indigo">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span><img src="assets/html/images/thaiocr-logo-text.png" alt="" width="110px" height="30px"></span>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link text-size pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/html/images/man.png" alt="" width="45px" height="45px">  Nuttawat Chanaman  &nbsp;<i class="fas fa-sort-down"></i> 
            </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default shadow-md border-0">
                    <!-- <a class="dropdown-item  c" href="#">เปลี่ยนรหัสผ่าน</a> -->
                    <a class="dropdown-item  c" routerLink="/profile">แก้ไขโปรไฟล์</a>
                    <a class="dropdown-item  c" href="#">ออกจากระบบ </a>
                  </div>
        </li>
      </ul>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


