.sidenav-container {
  height: 100%;
  background-color: rgb(240, 242, 250);
}

.sidenav {
  width: 250px;
  background-image: linear-gradient(120deg, #4d3280 0%, #212c8b 100%);
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar{
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.dropdown-item:hover{
  background-color: rgb(36, 123, 253);
  transform: translateY(8%);
  transition: transform 0.3s ease-in-out;
}
.c{font-size: 12px;}  
.c:hover{
  color: white;
}
.text-date{
font-size: 3px;
margin-top: -20px;
}
.text-size{
font-size: 14px;
}
.btn-link{
color: rgb(151, 151, 151);
}
.btn-link:hover{
  color: rgb(56, 56, 255);
}
.nav-link{
  display: block;
  transition: 0.3s;
}
.nav-link:hover{
  color: black;
  background-color: aliceblue;
  transform: translateY(8%);
  transition: transform 0.3s ease-in-out;
}
.pointer {cursor: pointer;}

.active{
  /* font-size: 20px; */
  font-weight: 900;
  margin-top: -1px;
  /* BORDER-BOTTOM: #ffffff 3px dotted ; */
  /* text-decoration: underline; */
  transition: 0.3s;
}
/*----shadow-----*/
.shadow{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}	
.shadow-md{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}	
.shadow-lg{
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-xl{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}	
.shadow-2xl{
 box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}	
.shadow-inner{
 box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}	
.shadow-outline{
 box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}	
/* linkone */
.link-1 a:before, .link-1 a:after {
  content: '';
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
  width: 50%;
}

.link-1 a:before, .link-1 a:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
