<body data-spy="scroll" data-target="#ftco-navbar" data-offset="200">
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="assets/html/images/thaiocr-logo-2.png" height="55px" width="135px"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#section-home" class="nav-link">หน้าแรก</a></li>
          <li class="nav-item"><a href="#section-features" class="nav-link">คุณลักษณะ</a></li>
          <li class="nav-item"><a href="#section-services" class="nav-link">บริการ</a></li>
          <li class="nav-item"><a href="#section-pricing" class="nav-link">ราคา</a></li>
          <li class="nav-item"><a href="#section-about" class="nav-link">เกี่ยวกับเรา</a></li>
          <li class="nav-item"><a routerLink="/member" class="nav-link">member</a></li>
        </ul>
        <form class="form-inline pull-xs-right">
          <button class="btn btn-outline-warning py-3 px-3" type="button" data-toggle="modal" data-target="#loginModal">
            <span class="oi oi-account-login"></span>
            <span>เข้าสู่ระบบ</span>
          </button>
        </form>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <section class="ftco-cover ftco-slant" style="background-image: url(./assets/html/images/header_bg1.jpg);" id="section-home">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center ftco-vh-100">
        <div class="col-md-10">
          <h1 class="ftco-heading ftco-animate">ไม่ต้องคีย์ข้อมูลอีกต่อไป OCR ช่วยได้</h1>
          <h2 class="h5 ftco-subheading mb-5 ftco-animate">ลงทะเบียนวันนี้สามารถใช้งานฟรี 10 แผ่น</h2>
          <p><a href="" target="_blank" data-toggle="modal" data-target="#signupModal" class="btn btn-primary ftco-animate">สมัครเลย</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light  ftco-slant ftco-slant-white" id="section-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-5 ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">คุณลักษณะทั่วไป</h2>
          <div class="row justify-content-center">
            <div class="col-md-7">
              <p class="lead">
                OCR เป็นกรรมวิธีทางคอมพิวเตอร์ สำหรับทำการแปลงข้อความที่ปรากฏอยู่ในไฟล์ชนิดรูปภาพ ให้กลายเป็นเท็กซ์ไฟล์ที่เราสามารถนำไปประมวลผลต่อได้
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
            <div class="ftco-icon mb-3"><span class="oi oi-thumb-up display-4 text-muted"></span></div>
            <div class="media-body">
              <h5 class="mt-0">ใช้ได้ดีกับภาษาไทย</h5>
              <p class="mb-5">
                เมื่อก่อนการทำ OCR ภาษาไทย มักประสบปัญหาวรรณยุกต์ต่างๆ จะมีความผิดเพีัยนค่อนข้างมาก แต่ระบบของเราสามารถแก้ปัญหาเหล่านี้ได้แล้ว
              </p>
              <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">สมัครเลย</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
            <div class="ftco-icon mb-3"><span class="oi oi-bolt display-4 text-muted"></span></div>
            <div class="media-body">
              <h5 class="mt-0">รองรับไฟล์รูปภาพและ PDF</h5>
              <p class="mb-5">
                สามารถอัพโหลดไฟล์รูปภาพได้หลากหลายชนิดเช่น .jpg, .png, .tiff และ .gif เป็นต้น นอกจากนี้ยังรองรองรับไฟล์ชนิด .pdf อีกด้วย
              </p>
              <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">สมัครเลย</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
            <div class="ftco-icon mb-3"><span class="oi oi-person display-4 text-muted"></span></div>
            <div class="media-body">
              <h5 class="mt-0">เลือกผลลัพธ์ได้หลายแบบ</h5>
              <p class="mb-5">
                เมื่อดำเนินการแปลงแล้ว ท่านสามารถเลือกให้ระบบทำการบันทึกเป็นไฟล์ชนิดต่างๆ ได้ตามต้องการเช่น .txt, .doc, .xls และ .json เป็นต้น
              </p>
              <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">สมัครเลย</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
            <div class="ftco-icon mb-3"><span class="oi oi-code display-4 text-muted"></span></div>
            <div class="media-body">
              <h5 class="mt-0">มีความถูกต้องแม่นยำสูง</h5>
              <p class="mb-5">
                กลไกระบบ OCR ทำงานบนพื้นฐานเทคโนโลยี Deep Learning ที่ให้ผลลัพธ์ที่มีความแม่นยำสูง รองรับฟอนต์มาตรฐานที่มีการใช้กันทั่วไป
              </p>
              <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">สมัครเลย</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
            <div class="ftco-icon mb-3"><span class="oi oi-magnifying-glass display-4 text-muted"></span></div>
            <div class="media-body">
              <h5 class="mt-0">เอกสารรูปแบบจำเพาะ</h5>
              <p class="mb-5">รองรับเอกสารที่มีรูปแบบจำเพาะ และมีการใช้แพร่หลาย อาทิเช่นบัตรประชาชน, ใบขับขี่, พาสปอร์ตและนามบัตรเป็นต้น</p>
              <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">สมัครเลย</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="media d-block mb-4 text-center ftco-media p-md-5 p-4 ftco-animate">
            <div class="ftco-icon mb-3"><span class="oi oi-phone display-4 text-muted"></span></div>
            <div class="media-body">
              <h5 class="mt-0">รู้จำโครงร่างเอกสารต้นฉบับ</h5>
              <p class="mb-5">
                เมื่อเลือกไฟล์เป็นไมโครซอฟต์เวิร์ด ระบบสามารถสร้างเอ้าท์พุทไฟล์ที่มีการวางตำแหน่ง่อหน้าและพารากราฟต่างๆ มีเค้าโครงเหมือนกับรูปต้นฉบับ
              </p>
              <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">สมัครเลย</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <section class="ftco-section ftco-slant" id="section-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">บริการเสริม</h2>
          <div class="row justify-content-center mb-5">
            <div class="col-md-7">
              <p class="lead">นอกจากบริการทำ OCR ผ่านหน้าเว็บแล้ว เรายังมีบริการรูปแบบอื่นๆ เหมาะสำหรับการทำรายการคราวละมากๆ</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END row -->
      <div class="row">
        <div class="col-lg-4 mb-5 ftco-animate">
          <figure><img src="./assets/html/images/img_1.jpg" alt="Free Template by Free-Template.co" class="img-fluid" /></figure>
          <div class="p-3">
            <h3 class="h4">เชื่อมโยงทำรายการออนไลน์</h3> 
            <p class="mb-4">
              หากท่านมีการทำ OCR อยู่บ่อยๆหรือเอกสารมีจำนวนมาก เรามีบริการออนไลน์เว็บเซอร์วิส ให้ท่านสามารถเรียกผ่านแอพพลิเคชั่นได้
            </p>
            <ul class="list-unstyled ftco-list-check text-left">
              <li class="d-flex mb-2">
                <span class="oi oi-check mr-3 text-primary"></span> <span>เรียกผ่านเว็บเซอร์วิสชนิด REST API โดยใช้โทเค้นที่บริษัทฯ ออกให้</span>
              </li>
              <li class="d-flex mb-2"><span class="oi oi-check mr-3 text-primary"></span> <span>สามารถกำหนดรูปแบบข้อมูลได้หลายรูปแบบ</span></li>
              <li class="d-flex mb-2"><span class="oi oi-check mr-3 text-primary"></span> <span>ไม่มีการเก็บสำเนารูปภาพไว้ในระบบ</span></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 mb-5 ftco-animate">
          <figure><img src="./assets/html/images/img_2.jpg" alt="Free Template by Free-Template.co" class="img-fluid" /></figure>
          <div class="p-3">
            <h3 class="h4">ถอดข้อมูลจากฟอร์มเอกสาร</h3>
            <p class="mb-4">
              ฟอร์มเอกสารต่างๆ เช่นใบส่งของ, ใบกำกับภาษีหรือใบวางบิล ตัวอักษรจะแทรกอยู่ในตารางหรือรูปภาพ ทำให้ไม่สามารถทำ OCR ตามปกติได้
            </p>
            <ul class="list-unstyled ftco-list-check text-left">
              <li class="d-flex mb-2">
                <span class="oi oi-check mr-3 text-primary"></span>
                <span>ถอดตัวอักษรที่อยู่ในกรอบตาราง หรือพื้นที่ช่องว่าง และจดจำตำแหน่งและชื่อฟิลด์</span>
              </li>
              <li class="d-flex mb-2"><span class="oi oi-check mr-3 text-primary"></span> <span>เพิ่มรูปแบบฟอนต์ตามที่ใช้อยู่ในเอกสาร</span></li>
              <li class="d-flex mb-2"><span class="oi oi-check mr-3 text-primary"></span> <span>กำหนดสูตรเพื่อแปลงข้อมูลตามต้องการ</span></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 mb-5 ftco-animate">
          <figure><img src="./assets/html/images/img_3.jpg" alt="Free Template by Free-Template.co" class="img-fluid" /></figure>
          <div class="p-3">
            <h3 class="h4">เอ้าท์ซอร์สซิ่ง</h3>
            <p class="mb-4">
              สำหรับหน่วยงานหรือองค์กรที่มีเอกสารชั้นความลับ ไม่ต้องการส่งออกมาภายนอก เรามีบริการทั้งคนและอุปกรณ์ ทำงานในสถานที่ของลูกค้า
            </p>
            <ul class="list-unstyled ftco-list-check text-left">
              <li class="d-flex mb-2">
                <span class="oi oi-check mr-3 text-primary"></span>
                <span>เครื่องลีนุกซ์เซิร์ฟเวอร์พร้อมซอฟต์แวร์ที่ปรับแก้ให้สอดคล้องกับรูปแบบเอกสารแล้ว</span>
              </li>
              <li class="d-flex mb-2"><span class="oi oi-check mr-3 text-primary"></span> <span>เครื่องสแกนชนิดดึงกระดาษอัตโนมัติ</span></li>
              <li class="d-flex mb-2"><span class="oi oi-check mr-3 text-primary"></span> <span>บันทึกข้อมูลเป็นไฟล์หรือเข้าฐานข้อมูล</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light ftco-slant ftco-slant-white" id="section-pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">ราคา</h2>
          <div class="row justify-content-center mb-5">
            <div class="col-md-7">
              <p class="lead">
                เลือกซื้อเพจเกจราคาตามความเหมาะสมกับปริมาณงานเอกสารของท่าน หากต้องการซื้อบริการออนไลน์เซอร์วิสโปรดติดต่อฝ่ายขายเพื่อเสนอราคา
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END row -->
      <div class="row">
        <div class="col-md bg-white p-5 m-2 text-center mb-2 ftco-animate">
          <div class="ftco-pricing">
            <h2>ประหยัด</h2>
            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong>100</strong><span>/20แผ่น</span></p>
            <ul class="list-unstyled mb-5">
              <li>ไม่มีระยะเวลาหมดอายุ</li>
              <li>ใช้งานได้จนกว่าจำนวนแผ่นโควต้าจะหมดลง</li>
              <li>ซื้อครั้งถัดไปได้โควต้าเพิ่มพิเศษทันที 5 แผ่น</li>
            </ul>
            <p><a href="#" class="btn btn-secondary btn-sm">สมัครเลย</a></p>
          </div>
        </div>
        <div class="col-md bg-white p-5 m-2 text-center mb-2 ftco-animate">
          <div class="ftco-pricing">
            <h2>นักศึกษา</h2>
            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong>200</strong><span>/50แผ่น</span></p>
            <ul class="list-unstyled mb-5">
              <li>ไม่มีระยะเวลาหมดอายุ</li>
              <li>ใช้งานได้จนกว่าจำนวนแผ่นโควต้าจะหมดลง</li>
              <li>ซื้อครั้งถัดไปได้โควต้าเพิ่มพิเศษทันที 10 แผ่น</li>
            </ul>
            <p><a href="#" class="btn btn-secondary btn-sm">สมัครเลย</a></p>
          </div>
        </div>
        <div class="w-100 clearfix d-xl-none"></div>
        <div class="col-md bg-white  ftco-pricing-popular p-5 m-2 text-center mb-2 ftco-animate">
          <span class="popular-text">Popular</span>
          <div class="ftco-pricing">
            <h2>เหมารายเดือน</h2>
            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong class="text-primary">900</strong><span>/เดือน</span></p>
            <ul class="list-unstyled mb-5">
              <li>ใช้งานได้ไม่เกิน 400 หน้า ภายในระยะเวลา 30 วัน</li>
              <li>นับจากวันที่ชำระเงิน</li>
              <li>ซื้อเพิ่มครั้งถัดไปได้โควต้าเพิ่ม 20 หน้า</li>
            </ul>
            <p><a href="#" class="btn btn-primary btn-sm">สมัครเลย</a></p>
          </div>
        </div>
        <div class="col-md bg-white p-5 m-2 text-center mb-2 ftco-animate">
          <div class="ftco-pricing">
            <h2>เหมารายปี</h2>
            <p class="ftco-price-per text-center"><sup>&#3647;</sup><strong>5,900</strong><span>/ปี</span></p>
            <ul class="list-unstyled mb-5">
              <li>ใช้งานได้ไม่จำกัดจำนวนหน้า ภายในระยะเวลา 1 ปี</li>
              <li>นับจากวันที่ชำระเงิน</li>
              <li>ซื้อเพิ่มครั้งถัดไปลดทันที 10%</li>
            </ul>
            <p><a href="#" class="btn btn-secondary btn-sm">สมัครเลย</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-slant ftco-slant-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">การประยุกต์ใช้งาน</h2>
          <div class="row justify-content-center mb-5">
            <div class="col-md-7">
              <p class="lead">
                เทคโนโลยี OCR ช่วยเราแปลงข้อมูลที่อยู่ในรูปของกระดาษให้เป็นดิจิตอล ทำให้เราสามารถจัดเก็บและค้นหาข้อมูลเหล่านั้นได้โดยง่าย
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END row -->
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel ftco-owl">
            <div class="item ftco-animate">
              <div class="media d-block text-left ftco-media p-md-5 p-4">
              <div class="row justify-content-center">
                <div class="ftco-icon mb-3"><span class="oi oi-pencil display-4"></span></div>
              </div>
                <div class="media-body">
                  <h5 class="mt-0">แปลงไฟล์จากการสแกน</h5>
                  <p>
                    หากเราได้เอกสารที่เป้นกระดาษมา ต้องการปรับแก้ไขเนื้อหาเอกสาร แต่เราไม่ไมีไฟล์ต้นฉบับ เมื่อก่อนเราอาจจะต้องไปจ้างพิมพ์
                    เสียค่าใช้จ่ายและเวลามาก
                  </p>
                </div>
              </div>
            </div>

            <div class="item ftco-animate">
              <div class="media d-block text-left ftco-media p-md-5 p-4">
                <div class="row justify-content-center">
                   <div class="ftco-icon mb-3"><span class="oi oi-monitor display-4"></span></div>
                 </div>
                <div class="media-body">
                  <h5 class="mt-0">เก็บข้อมูลจากอินวอยซ์</h5>
                  <p>
                    ในองค์กรธุรกิจจะมีการส่งเอกสารใบส่งสินค้าและใบเสร็จรับเงินกันอยู่ตลอดเวลา เราสามารถทำการแปลงข้อมูลจากเอกสารเหล่านี้
                    จัดเก็บเข้าสู่ฐานข้อมูลได้
                  </p>
                </div>
              </div>
            </div>

            <div class="item ftco-animate">
              <div class="media d-block text-left ftco-media p-md-5 p-4">
               <div class="row justify-content-center">
                  <div class="ftco-icon mb-3"><span class="oi oi-location display-4"></span></div>
               </div> 
                  <div class="media-body">
                  <h5 class="mt-0">ข้อมูลลูกค้าจากสำเนาบัตร</h5>
                  <p>
                    สำเนาบัตรประชาชนจะไม่ช่วยให้เรารู้จักลูกค้ามากขึ้น แต่หากเรานำทำ OCR ถอดข้อมูลหน้าบัตรออกมา
                    จะช่วยให้เรามีข้อมูลลูกค้าที่ถูกต้องและครบถ้วน
                  </p>
                </div>
              </div>
            </div>

            <div class="item ftco-animate">
              <div class="media d-block text-left ftco-media p-md-5 p-4">
              <div class="row justify-content-center">
                <div class="ftco-icon mb-3"><span class="oi oi-person display-4"></span></div>
               </div> 
                <div class="media-body">
                  <h5 class="mt-0">จัดเก็บข้อมูลหนังสือเก่า</h5>
                  <p>
                    หนังสือและสิ่งพิมพ์เก่าๆ มีคุณค่าทั้งในด้านองค์ความรู้และประวัติศาสตร์ ดังนั้นการจัดเก็บให้อยู่ในรูปดิจิตอล
                    จะช่วยให้การศึกษาค้นคว้า สามารถทำได้โดยง่าย
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-slant ftco-slant-light  bg-light ftco-slant ftco-slant-white" id="section-faq">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">การรับประกันคุณภาพ</h2>
          <div class="row justify-content-center mb-5">
            <div class="col-md-7">
              <p class="lead">บริษัทฯ ขอแจ้งนโยบายการรับประกัน เพื่อเป็นข้อตกลงและสร้างความเข้าใจเกี่ยวกับการใช้บริการเว็บไซต์ดังนี้</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END row -->
      <div class="row">
        <div class="col-md-6 mb-5 ftco-animate">
          <h3 class="h5 mb-4">การรับประกันความพึงพอใจ</h3>
          <p>
            การรับประกันความพึงพอใจนี้ เป็นการรับประกันในคุณภาพบริการของเรา ซึ่งเราคาดหวังเป็นอย่างยิ่งว่าท่านจะได้รับความพึงใจนั้นๆ อย่างไรก็ดี
            ท่านลูกค้าที่ได้ทำคำสั่งซื้อบริการผ่านเว็บไซต์ และรู้สึกไม่พอใจเมื่อได้รับผลการ OCR ออกมา ท่านสามารถใช้สิทธิในการยกเลิกคำสั่งซื้อ
            หรือทำคำร้องขอคืนค่าบริการที่ท่านทำคำสั่งซื้อได้ ภายใน 7 วันทำการนับแต่วันที่ได้ใช้งานครั้งแรก
          </p>
        </div>
        <div class="col-md-6 mb-5 ftco-animate">
          <h3 class="h5 mb-4">ระยะเวลาในการคืนเงิน</h3>
          <p>
            กรณีลูกค้าชำระเงินเต็มจำนวนหรือผ่อนชำระ ตัดผ่านบัตรเครดิตของธนาคารพาณิชย์ที่จดทะเบียนในประเทศไทย บริษัทจะส่งเรื่องขอคืนเงินไปยังธนาคาร
            โดยการคืนเงินจะขึ้นอยู่กับนโยบายของแต่ละธนาคาร ตามปกติแล้วผู้ถือบัตรจะได้รับเงินคืนในรอบบิลถัดไป
          </p>
        </div>
        <div class="col-md-6 mb-5 ftco-animate">
          <h3 class="h5 mb-4">การยื่นคำร้องขอคืนเงิน</h3>
          <p>
            ลูกค้าสามารถแจ้งความประสงค์ขอคืนเงินผ่านระบบออนไลน์ได้ โดยระบบจะมีการให้กรอกข้อมูลรายละเอียดคำสั่งซื้อ และเหตุผลในการขอคืนเงิน
            เมื่อท่านยืนยันความประสงค์ ระบบจะส่งความต้องการของท่านไปให้เจ้าหน้าที่ทำการตรวจสอบ และแจ้งผลกลับทางอีเมล์
          </p>
        </div>
        <div class="col-md-6 mb-5 ftco-animate">
          <h3 class="h5 mb-4">การแจ้งปัญหาข้อบกพร่อง</h3>
          <p>
            หลังจากใช้บริการหากลูกค้าพบประเด็นปัญหา ที่อยากให้ทางบริษัทฯ ดำเนินการปรับปรุงแก้ไข
            สามารถแจ้งรายะเอียดปัญหาพร้อมแนบไฟล์รูปประกอบผ่านทางระบบแจ้งปัญหาของเราได้ตลอดเวลา ทางบริษัทฯ
            จะรีบดำเนินการแก้ไขและแจ้งผลให้ท่านทราบโดยเร็วที่สุด
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-slant ftco-slant-light" id="section-about">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">เกี่ยวกับเรา</h2>
          <div class="row justify-content-center mb-5">
            <div class="col-md-7">
              <p class="lead">
                ไทยโอซีอาร์เกิดจากการเล็งเห็นว่าดิจิตอลทรานสฟอร์เมชั่นจะเป็นจริงได้นั้น การแปลงข้อมูลจากแผ่นกระดาษสู่ดาต้าเบส
                นับว่ามีส่วนสำคัญอย่างยิ่ง
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END row -->

      <div class="row no-gutters align-items-center ftco-animate">
        <div class="col-md-6 mb-md-0 mb-5">
          <img src="./assets/html/images/team.jpg" alt="Free Template by Free-Template.co" class="img-fluid" />
        </div>
        <div class="col-md-6 p-md-5">
          <h3 class="h3 mb-4">รู้จักกับทีมงานมืออาชีพ ที่อยู่เบื้องหลัง ความสำเร็จของเรา</h3>
          <p>
            ไทยโอซีอาร์เป็นโปรดักซ์หนึ่งในหน่วยธุรกิจคลาวด์เซอร์วิสของบริษัทประดิษฐ์ซอฟต์ โดยโครงการได้รับแรงบันดาลใจจากความสำเร็จในการพัฒนาระบบ OCR
            บัตรประชาชน ประกอบกับปัจจุบันเทคโนโลยี Deep Learning ทำให้ระบบ OCR ภาษาไทยมีความแม่นยำมากขึ้น
          </p>
          <p class="mb-5"><a href="http://www.praditsoft.co.th">บ.ประดิษฐ์ซอฟต์</a></p>
        </div>
      </div>
      <div class="row no-gutters align-items-center ftco-animate">
        <div class="col-md-6 order-md-3 mb-md-0 mb-5">
          <img src="./assets/html/images/ocr.jpg" alt="Free Template by Free-Template.co" class="img-fluid" />
        </div>
        <div class="col-md-6 p-md-5 order-md-1">
          <h3 class="h3 mb-4">ยังมีอีกหลายสิ่งหลายอย่าง ที่เรายังมุ่งมั่นจะพัฒนาต่อไป</h3>
          <p>
            ถึงแม้ในขณะนี้เทคโนโลยี OCR จะให้ผลเป็นที่น่าพอใจ แต่เพื่อให้ระบบสามารถประยุกต์ใช้งานได้หลากหลายมากขึ้น
            เรายังมีแผนในการเพิ่มประสิทธิภาพอีกในหลายๆ ด้านเช่น Word dictionary, Form recognition และ Hand writing เป็นต้น
          </p>
          <p class="mb-5"><a href="http://www.praditsoft.co.th">บ.ประดิษฐ์ซอฟต์</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light ftco-slant ftco-slant-white" id="section-counter">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">ข้อมูลที่น่าสนใจ</h2>
          <div class="row justify-content-center mb-5">
            <div class="col-md-7">
              <p class="lead">
                จากการที่เราช่วยลดเวลาและค่าใช้จ่ายในการแปลงไฟล์รูปภาพเป็นข้อมูลได้อย่างมีประสิทธิภาพ
                ทำให้เรามีลูกค้าเข้ามาใช้บริการมากขึ้นอย่างต่อเนื่อง
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END row -->
      <div class="row">
        <div class="col-md ftco-animate">
          <div class="ftco-counter text-center">
            <span class="ftco-number" data-number="34146">0</span>
            <span class="ftco-label">จำนวนหน้า</span>
          </div>
        </div>
        <div class="col-md ftco-animate">
          <div class="ftco-counter text-center">
            <span class="ftco-number" data-number="1239">0</span>
            <span class="ftco-label">ลูกค้ารายย่อย</span>
          </div>
        </div>
        <div class="col-md ftco-animate">
          <div class="ftco-counter text-center">
            <span class="ftco-number" data-number="37">0</span>
            <span class="ftco-label">ลูกค้าองค์กร</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-white ftco-slant ftco-slant-dark" id="section-contact">
    <div class="container">
      <div class="row">
        <div class="col-md pr-md-5 mb-5">
          <form action="" method="post">
            <div class="form-group">
              <label for="name" class="sr-only">Name</label>
              <input type="text" class="form-control" id="name" placeholder="ชื่อและนามสกุล" />
            </div>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="text" class="form-control" id="email" placeholder="อีเมล์แอดเดรส" />
            </div>
            <div class="form-group">
              <label for="message" class="sr-only">Message</label>
              <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="ข้อความ"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="ส่งข้อความ" />
            </div>
          </form>
        </div>
        <div class="col-md" id="map"></div>
      </div>
    </div>
  </section>
  <footer class="ftco-footer ftco-bg-dark">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">ประดิษฐ์ซอฟต์</h2>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">เกี่ยวกับเรา</a></li>
                  <li><a href="#" class="py-2 d-block">บริการ</a></li>
                  <li><a href="#" class="py-2 d-block">โครงการ</a></li>
                  <li><a href="#" class="py-2 d-block">ติดต่อ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">เครือข่ายพันธมิตร</h2>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">ฟู้ดช้อยส์</a></li>
                  <li><a href="#" class="py-2 d-block">สมาร์ทนิติ</a></li>
                  <li><a href="#" class="py-2 d-block">ไอดีพาสโกลบอล</a></li>
                  <li><a href="#" class="py-2 d-block">ไอดีคนไทย</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">ลิงค์ที่น่าสนใจ</h2>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">Bootstrap 4</a></li>
                  <li><a href="#" class="py-2 d-block">jQuery</a></li>
                  <li><a href="#" class="py-2 d-block">HTML5</a></li>
                  <li><a href="#" class="py-2 d-block">Sass</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ftco-footer-widget mb-4">
            <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
              <li>
                <a href="#"><span class="icon-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-instagram"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md text-left">
          <p>
            &copy; ThaiOCR 2019. All Rights Reserved. Made with <span class="icon-heart text-danger"></span> by
            <a href="https://free-template.co/">Free-Template.co</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4586ff" />
    </svg>
  </div>

  <div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel">&nbsp;</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>ข้อมูลสมาชิก</h4>
            </div>
            <div class="d-flex flex-column text-center">
              <form (ngSubmit)="loginForm(formLogin)" #formLogin="ngForm">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="อีเมล์แอดเดรส" required email #email="ngModel" ngModel/>
                  <small class="form-text text-danger float-left" *ngIf="!email.valid && email.touched">
                    กรุณาตรวจสอบอีเมล์
                  </small>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="รหัสผ่าน" required #password="ngModel" minlength="8" ngModel/>
                  <small class="form-text text-danger float-left" *ngIf="!password.valid && password.touched">
                    กรุณาตรวจสอบรหัสผ่าน
                  </small>
                </div>
                <small class="form-text text-danger" *ngIf="statusLogin">
                  {{ statusLogin }}
                </small>
                <button type="submit" class="btn btn-info btn-block btn-round" [disabled]="!formLogin.valid">เข้าสู่ระบบ</button>
              </form>

              <div class="text-center text-muted delimiter">หรือผ่านทางเครือข่ายโซเชียล</div>
              <div class="d-flex justify-content-center social-buttons">
                <button type="button" class="btn btn-secondary btn-round hover-t border-0" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="fa fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-round hover-f border-0" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="fa fa-facebook"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-round hover-g border-0" data-toggle="tooltip" data-placement="top" title="Google">
                  <i class="fab fa-google"></i>
                </button>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <div class="signup-section">หากท่านยังไม่ได้เป็นสมาชิก? <a href="" data-toggle="modal" data-target="#signupModal" class="text-info"> สมัครสมาชิก</a>.</div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel1">สร้างบัญชีใหม่</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form (ngSubmit)="signupForm(formSignup)" #formSignup="ngForm">
            <div class="modal-body">
              <div class="form-group">
                <label for="email1">อีเมล์แอดเดรส:</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="กรอกอีเมล์แอดเดรส" #email="ngModel" required email [(ngModel)]="signupData.email"/>
                <small id="emailHelp" class="form-text">
                    โปรดยืนยันอีเมล์ของท่านหลังจากลงทะเบียน
                  </small>
                <small id="emailHelp" class="form-text text-danger" *ngIf="!email.valid && email.touched">
                  กรุณาตรวจสอบอีเมล์
                </small>
              </div>
              <div class="form-group">
                <label for="password">รหัสผ่าน:</label>
                <input type="password" class="form-control" name="password" placeholder="กรอกรหัสผ่าน" #password="ngModel" required minlength="8" [(ngModel)]="signupData.password"/>
                <small id="emailHelp" class="form-text text-danger" *ngIf="!password.valid && password.touched">
                    กรุณาตรวจสอบรหัสผ่าน
                  </small>
              </div>
              <div class="form-group">
                <label for="passwordConfirm">ยืนยันรหัสผ่าน:</label>
                <input type="password" class="form-control" name="passwordConfirm" placeholder="กรอกยืนยันรหัสผ่าน" #passwordConfirm="ngModel" required [(ngModel)]="signupData.passwordConfirm"/>
                <small class="form-text text-danger" *ngIf="signupData.passwordConfirm != signupData.password && passwordConfirm.touched">
                    รหัสผ่านไม่ตรงกัน
                </small>
              </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
              <button type="submit" class="btn btn-success" [disabled]="!formSignup.valid || signupData.passwordConfirm != signupData.password">ยืนยัน</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="./assets/html/js/jquery.min.js"></script>
  <script src="./assets/html/js/popper.min.js"></script>
  <script src="./assets/html/js/bootstrap.min.js"></script>
  <script src="./assets/html/js/jquery.easing.1.3.js"></script>
  <script src="./assets/html/js/jquery.waypoints.min.js"></script>
  <script src="./assets/html/js/owl.carousel.min.js"></script>
  <script src="./assets/html/js/jquery.animateNumber.min.js"></script>

  <script src="https://maps.google.com/maps/api/js?key=AIzaSyAbqyrGWeDqHKRLUbvs8BLRf6hUGzHFYlI&sensor=false"></script>

  <script src="./assets/html/js/google-map.js"></script>
  <script src="./assets/html/js/main.js"></script>
</body>