.hover-t:hover{
    background-image: linear-gradient(-120deg, #00c3ff 0%, #00f7ff 100%);
    transform: translateY(10%);
    transition: transform 0.3s ease-in-out;
}
.hover-f:hover{
    background-image: linear-gradient(-120deg, #0026ff 0%, #0e9fff 100%);
    transform: translateY(10%);
    transition: transform 0.3s ease-in-out;
}
.hover-g:hover{
    background-image: linear-gradient(-120deg, #ff0000 0%, #fa5725 100%);
    transform: translateY(10%);
    transition: transform 0.3s ease-in-out;
}