<app-main-nav>
<div class="container-fluid">
        <h1>โปรไฟล์</h1>
                      <hr>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row justify-content-center" style="margin-top:20px;">
                           <div class="col-md-12 text-center ">
                              <img src="assets/html/images/man.png" alt="" width="180px" height="180px">
                          </div>  
                          <div class="col-md-12 text-center " style="margin-top:10px;">
                            <button mat-raised-button type="button" class="btn btn-primary">
                                <a class="text-black-50 pointer"(click)="image.click()"
                                  >&nbsp;เปลี่ยนรูป</a
                                >
                              </button>
                              <input style="display : none" type="file"  accept="image/*" #image (change)="pictureChange(image)" /> 
                          </div>
                           <div class="col-md-8" style="margin-top:10px;">
                                  <div class="row">
                                      <div class="col-md-3 ">
                                          <h6 class="text-dark">ชื่อ-นามสกุล</h6>
                                      </div>
                                      <div class="col-auto ">
                                           <p class="text-muted">Nuttawat Chanaman</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                        <a mat-button 
                                        matTooltip="แก้ไข ชื่อ-นามสกุล"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        data-toggle="modal" 
                                        data-target="#editUser"
                                        ><i class="far fa-edit edit pointer"></i></a>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-md-3">
                                          <h6 class="text-dark">รหัสผ่าน</h6>
                                      </div>
                                      <div class="col-auto">
                                           <p class="text-muted">********</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                        <a mat-button 
                                        matTooltip="เปลี่ยนรหัสผ่าน"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        data-toggle="modal" 
                                        data-target="#editPasswd"
                                        ><i class="far fa-edit edit pointer"></i></a>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-md-3">
                                          <h6 class="text-dark">Email</h6>
                                      </div>
                                      <div class="col-auto">
                                           <p class="text-muted">nuttawat_te@outlook.com</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                        <!-- <a mat-button 
                                        matTooltip="แก้ไข Email"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        ><i class="far fa-edit edit pointer"></i></a> -->
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-md-3">
                                          <h6 class="text-dark">เพ็กเกจ</h6>
                                      </div>
                                      <div class="col-auto">
                                          <p class="text-muted">เหมารายเดือน</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                          <a routerLink="/package"><p class="btn-link pointer">คลิกเพื่อลายละเอียด</p></a> 
                                      </div>
                                  </div>
                            </div>  
                          </div> 
                        </div>
                       <div class="col-md-7">
                         <h3>ประวัติการใช้งาน</h3>
                         <hr>
                          <div class="row justify-content-between" style="margin-top : 20px;">
                              <div class="col-3">
                              </div>
                         <div class="col-md-3">
                            <input class="form-control shadow-1" type="text" placeholder="ค้นหา"/>
                           </div>
                         </div>
                         <div class="row justify-content-center">
                           <div class="col-md-10">
                           <div class="table-responsive">
                             <table class="table table_effects ver" style="margin-top: 10px">
                                <thead class="thead-dark text-white shadow">
                                  <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">ชื่อไฟล์</th>
                                    <th scope="col">วัน-เวลา</th>
                                    <th scope="col">ขนาด</th>
                                    <th scope="col" class="text-center"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark.txt</td>
                                    <td>18/08/19 09.30 PM</td>
                                    <td>1.2 M</td>
                                    <td class="text-center">
                                      <i class="far fa-arrow-alt-circle-down download"
                                      matTooltip="ดาวน์โหลด"
                                      aria-label="Button that displays a tooltip when focused or hovered over"
                                      ></i> 
                                      <i class="far fa-trash-alt delete" 
                                      style="margin-left: 30px"
                                      matTooltip="ลบ"
                                      aria-label="Button that displays a tooltip when focused or hovered over"
                                      ></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td class="text-center">
                                      <i class="far fa-arrow-alt-circle-down download"
                                      matTooltip="ดาวน์โหลด"
                                      aria-label="Button that displays a tooltip when focused or hovered over"
                                      ></i>
                                      <i class="far fa-trash-alt delete"
                                       style="margin-left: 30px"
                                       matTooltip="ลบ"
                                       aria-label="Button that displays a tooltip when focused or hovered over"
                                       ></i>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td class="text-center">
                                      <i class="far fa-arrow-alt-circle-down download"
                                      matTooltip="ดาวน์โหลด"
                                      aria-label="Button that displays a tooltip when focused or hovered over"
                                      ></i>
                                      <i class="far fa-trash-alt delete"
                                       style="margin-left: 30px"
                                       matTooltip="ลบ"
                                       aria-label="Button that displays a tooltip when focused or hovered over"
                                       ></i>
                                    </td>
                                  </tr>
                                </tbody>
                               </table>
                             </div> 
                            </div>
                          </div>
                       </div>  
                      </div>  
                    </div>
                  </app-main-nav>
        <!-- Modal UserName -->
                     <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                       <div class="modal-dialog modal-dialog-centered" role="document">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalCenterTitle">แก้ไข ชื่อ-นามสกุล</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                            <div class="form-group">
                              <label class="col-md-4">ชื่อ</label>
                              <input type="text" id="" class="form-control">
                              <p>
                              <label class="col-md-4" style="margin-top: 5px">นามสกุล</label>  
                              <input type="text" id="" class="form-control">
                              </p>
                             </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary btn-sm">บันทึก</button>
                              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">ยกเลิก</button>
                            </div>
                          </div>
                        </div>
                      </div>
        <!-- Modal PassWord -->
                     <div class="modal fade" id="editPasswd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalCenterTitle">เปลี่ยนรหัสผ่าน</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                             <div class="modal-body">
                             <div class="form-group">
                               <label class="col-md-4">รหัสผ่าน</label>
                               <input type="text" id="" class="form-control" placeholder="********">
                              </div>
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-primary btn-sm">บันทึก</button>
                               <button type="button" class="btn btn-secondary btn-sm"data-dismiss="modal">ยกเลิก</button>
                             </div>
                           </div>
                         </div>
                       </div>

