.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .shadow{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }	
.shadow-1{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.shadow-2{
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
.text-date{
  font-size: 3px;
  margin-top: -20px;
}
.text-size{
  font-size: 10px;
  margin-top: 25px;
}

.edit:hover{
  color: rgb(0, 0, 0);
}
.btn-link{
  color: rgb(151, 151, 151);
}
.btn-link:hover{
    color: rgb(56, 56, 255);
}
h6{margin-top: 5px;}

.download{cursor: pointer;}
.download:hover{
  color: rgb(52, 165, 57);
  transform: translateY(8%);
  transition: transform 0.3s ease-in-out;
}

.delete {cursor: pointer;}
.delete:hover{
  color: rgb(255, 0, 0);
  transform: translateY(8%);
  transition: transform 0.3s ease-in-out;
}

.table_effects {
  background-color: #fff;
}
.table_effects-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table_effects-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}
.table_effects.ver {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.thead-dark{
  background-image: linear-gradient(-120deg, #4f8aff 0%, #0099ff 100%);
}