<app-main-nav>
<div class="container-fluid">
        <h1>โปรไฟล์</h1>
                      <hr>
                          <div class="row justify-content-center" style="margin-top:20px;">
                           <div class="col-md-12 text-center ">
                              <img src="assets/html/images/man.png" alt="" width="180px" height="180px">
                          </div>  
                          <div class="col-md-12 text-center " style="margin-top:10px;">
                            <button mat-raised-button type="button" class="btn btn-primary">
                                <a class="text-black-50 pointer"(click)="image.click()"
                                  >&nbsp;เปลี่ยนรูป</a
                                >
                              </button>
                              <input style="display : none" type="file"  accept="image/*" #image (change)="pictureChange(image)" /> 
                          </div>
                          </div>   
                          <div class="container">
                          <div class="row justify-content-center " style="margin-top:20px;">
                               <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-3 ">
                                          <h6 class="text-dark">ชื่อ-นามสกุล</h6>
                                      </div>
                                      <div class="col-auto ">
                                           <p class="text-muted">Nuttawat Chanaman</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                        <a mat-button 
                                        matTooltip="แก้ไข ชื่อ-นามสกุล"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        ><i class="far fa-edit edit pointer"></i></a>
                                      </div>
                                  </div>
                                </div>
                            </div>
                          </div> 
                            <div class="container">
                                 <div class="row justify-content-center"> 
                                <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-3">
                                          <h6 class="text-dark">Email</h6>
                                      </div>
                                      <div class="col-auto">
                                           <p class="text-muted">nuttawat_te@outlook.com</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                        <a mat-button 
                                        matTooltip="แก้ไข Email"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        ><i class="far fa-edit edit pointer"></i></a>
                                      </div>
                                  </div>
                                </div>    
                              </div>
                            </div>   
                            <div class="container">
                                <div class="row justify-content-center"> 
                                  <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-3">
                                          <h6 class="text-dark">รหัสผ่าน</h6>
                                      </div>
                                      <div class="col-auto">
                                           <p class="text-muted">********</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                        <a mat-button 
                                        matTooltip="เปลี่ยนรหัสผ่าน"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        ><i class="far fa-edit edit pointer"></i></a>
                                      </div>
                                  </div>
                                </div> 
                               </div>
                            </div>
                            <div class="container">
                                <div class="row justify-content-center"> 
                                 <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-3">
                                          <h6 class="text-dark">เพ็กเกจ</h6>
                                      </div>
                                      <div class="col-auto">
                                          <p class="text-muted">เหมารายเดือน</p>
                                      </div>
                                       <div class="col-auto ml-auto">
                                          <a routerLink="/package"><p class="btn-link pointer">คลิกเพื่อลายละเอียด</p></a> 
                                      </div>
                                  </div>
                                </div>    
                            </div>  
                           </div>   
  </div>
</app-main-nav>

